@import '../src/styles/app.scss';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

.nav-link {
  position: relative;
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #00A651;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

@keyframes fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.active-progress .fill {
  animation: fill 3s linear forwards;
}

.empty {
  transition: width 0s linear;
  width: 0%;
}
